<div class="cards-index">
  <% @celebrities.each do |celebrity| %>
    <%= link_to celebrity_path(celebrity.id), class: "no-deco" do %>
      <div class="celebrity-conteiner">
        <div class="card-celebrity-body">
          <div>
            <a><%= cl_image_tag celebrity.photo.key, height: 300, width: 400, crop: :fill %></a>
            <p class="text-center logo-font my-1 no-deco"><%= "#{celebrity.first_name} #{celebrity.last_name}" %></p>
            <p class="text-center my-1 no-deco">150€/hour</p>
            <ul class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
